:root {
  --accent1: #b700ff;
  --accent2: #13a9ff;
  --accentdark: #202449;
  --background: #0b111e;

  /*404 Page colors*/
  --textColor1: rgb(195, 0, 255);
  --textColor2: rgb(0, 255, 30);
  --textColor3: rgb(0, 204, 255);
  --textColor4: rgb(217, 0, 255);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: white;
  background: var(--background);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  line-height: 1.5;
  font-weight: 400;

  margin: 0;
  
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  
  scroll-behavior: smooth;
}